In [1]:
# python Officially lib
import sqlite3

# 连接

In [2]:
# 创建与当前工作目录下 tutorial.db 数据库的连接，如果它不存在则会隐式地创建它
conn = sqlite3.connect("tutorial.db")
print(conn)

<sqlite3.Connection object at 0x000001F86F573540>

# 创建游标

获取到游标之后，就可以使用 SQL 语句来对数据进行操作，创建表、添加数据、遍历数据

In [3]:
cur = conn.cursor()
print(cur)

<sqlite3.Cursor object at 0x000001F86F6932C0>

## 创建表

- 创建一张名为 movie 的表,包括:
- 电影名 （title，在下方代码中对应“title”）
- 上映年份（release year，在下方代码中对应“year”）
  以及电影评分（review score，在下方代码中对应“score”）

  在创建表的 SQL 语句声明中只列出表头名 (column names) ，而没有同时声明数据类型 —— 这得益于 SQLite 的 flexible typing 特性，它使得我们在使用 SQLite 时，指明数据类型这一项工作时可选的

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

## 查询全部表

In [5]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

## 查询不存在的表

In [6]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

## 插入数据

In [7]:
cur.execute(
    """
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
"""
)
conn.commit()

## 批量插入数据

In [8]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
conn.commit()

## 查询一条

In [9]:
res = cur.execute("SELECT * FROM movie")
print(res.fetchone())

('Monty Python and the Holy Grail', 1975, 8.2)

## 查询并迭代

In [10]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

## 查询全部-指定字段

In [11]:
res = cur.execute("SELECT score FROM movie")
print(res.fetchall())

[(8.2,), (7.5,), (7.9,), (7.5,), (8.0,)]

In [12]:
conn.close()