In [1]:
import akshare as ak

# stock

## stock_us_famous_spot_em

In [2]:
stock_us_a_hist_df = ak.stock_us_famous_spot_em(symbol="科技类")

## stock_us_hist

In [4]:
stock_us_a_hist_df = ak.stock_us_hist(
    symbol="105.AAPL",
    period="daily",


    start_date="20240505",
    end_date="20240510",
    adjust="qfq",
)
stock_us_a_hist_df

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2024-05-06,182.104,181.46,183.95,180.17,78569667,1.428704e+10,2.06,-0.91,-1.67,0.51
1,2024-05-07,183.200,182.15,184.65,181.07,77305771,1.413431e+10,1.97,0.38,0.69,0.50
2,2024-05-08,182.600,182.49,182.82,181.20,45057087,8.221519e+09,0.89,0.19,0.34,0.29
3,2024-05-09,182.310,184.32,184.41,181.86,48982972,9.012410e+09,1.40,1.00,1.83,0.32
4,2024-05-10,184.900,183.05,185.09,182.13,50759496,9.293988e+09,1.61,-0.69,-1.27,0.33