# agg()

## multi agg result

对同一列执行多种agg

In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(
    data=np.random.randint(60, 101, (10, 3)),
    columns=["语文", "数学", "英语"],
    index=[1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
)
df1

      语文  数学  英语
1001  94  98  81
1002  74  89  71
1003  64  71  88
1004  91  92  93
1005  90  65  79
1006  85  71  73
1007  89  86  72
1008  94  96  97
1009  88  77  84
1010  81  73  77

In [7]:
df1_agg=df1.agg(
    {
        "语文":["sum","min","max"],
        "数学":"sum"
    }
)
df1_agg

      语文     数学
sum  850  818.0
min   64    NaN
max   94    NaN

In [11]:
df1_agg.语文

sum    850
min     64
max     94
Name: 语文, dtype: int64