In [846]:
import numpy as np
import pandas as pd

# 创建

## 自动索引

只指定 data,不指定 index,index 会自动递增

In [847]:
pd.DataFrame(data={"values": [5, 10, 15, 20, 25]})

   values
0       5
1      10
2      15
3      20
4      25

## 通过二维数组

In [848]:
df1 = pd.DataFrame(
    data=np.random.randint(60, 101, (10, 3)),
    columns=["语文", "数学", "英语"],
    index=[1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
)
df1

       语文   数学  英语
1001   82   71  85
1002  100   83  83
1003   71   89  87
1004   81   70  96
1005   64  100  65
1006   70   78  88
1007   97   72  94
1008   99   78  94
1009   98   73  89
1010   65   87  99

In [849]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1001 to 1010
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   语文      10 non-null     int32
 1   数学      10 non-null     int32
 2   英语      10 non-null     int32
dtypes: int32(3)
memory usage: 200.0 bytes

## 通过 dict

In [850]:
dict_scores_data = {
    "语文": [62, 72, 93, 88, 93],
    "数学": [95, 65, 86, 66, 87],
    "英语": [66, 75, 82, 69, 82],
}
df2 = pd.DataFrame(data=dict_scores_data, index=[1011, 1012, 1013, 1014, 1015])
df2

      语文  数学  英语
1011  62  95  66
1012  72  65  75
1013  93  86  82
1014  88  66  69
1015  93  87  82

# 设限

限制整个 dataframe 中的最小值和最大值

In [851]:
limit_df = pd.DataFrame({"values": [5, 10, 15, 20, 25]})
limit_df

   values
0       5
1      10
2      15
3      20
4      25

In [852]:
limit_df["values"] = limit_df["values"].clip(lower=10, upper=20)
limit_df

   values
0      10
1      10
2      15
3      20
4      20

# 拼接/合并

In [853]:
d1 = pd.DataFrame(
    data={"values": [6, 10, 15, 20, 25], "语文": np.random.randint(60, 90, (5))}
)
d2 = pd.DataFrame(
    data={"values": [1, 2, 3, 4, 5], "语文": np.random.randint(60, 90, (5))}
)
print(d1)
print(d2)

   values  语文
0       6  68
1      10  69
2      15  76
3      20  86
4      25  83
   values  语文
0       1  89
1       2  68
2       3  74
3       4  63
4       5  76

In [854]:
pd.concat([d1, d2])

   values  语文
0       6  68
1      10  69
2      15  76
3      20  86
4      25  83
0       1  89
1       2  68
2       3  74
3       4  63
4       5  76

In [855]:
pd.merge(d1, d2, how="left")

   values  语文
0       6  68
1      10  69
2      15  76
3      20  86
4      25  83

In [856]:
pd.merge(d1, d2, how="right")

   values  语文
0       1  89
1       2  68
2       3  74
3       4  63
4       5  76

In [857]:
pd.merge(d1, d2, how="inner")

Empty DataFrame
Columns: [values, 语文]
Index: []

In [858]:
pd.merge(d1, d2, how="left", on="语文")

   values_x  语文  values_y
0         6  68       2.0
1        10  69       NaN
2        15  76       5.0
3        20  86       NaN
4        25  83       NaN