In [1]:
import pandas as pd
import numpy as np

# 展示设置

## 全局

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randint(1, 100, (70, 8)), columns=[f"a{i}" for i in range(1, 9)]
)
df

    a1  ...  a8
0   55  ...  42
..  ..  ...  ..
69   9  ...  69

[70 rows x 8 columns]

### 展示行/列数

In [ ]:
pd.set_option("display.max_rows", 2)
pd.set_option("display.max_columns", 2)
df

    a1  ...  a8
0   68  ...  15
..  ..  ...  ..
69  20  ...  12

[70 rows x 8 columns]

### 展示宽度

In [ ]:
df = pd.DataFrame(({"A": ["a" * 20, "b" * 30]}))
df

                                A
0  aaaaaaaaaaaaaaaaaaaa
1  bbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

In [ ]:
pd.set_option("display.max_colwidth", 10)
df

           A
0  aaaaaa...
1  bbbbbb...

### 展示小数点精度

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3))
df

          0         1         2
0  0.456122 -0.928530  1.354726
1  0.989010 -0.782511  0.508018
2 -0.419078 -0.046929  0.801694
3 -0.899940 -0.893852 -0.403903

In [ ]:
pd.set_option("display.precision", 3)
df

       0      1      2
0  0.456 -0.929  1.355
1  0.989 -0.783  0.508
2 -0.419 -0.047  0.802
3 -0.900 -0.894 -0.404

### 展示小于某个数的元素显示为 0

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3))
df

          0         1         2
0  1.545720  0.000000  1.641164
1  1.575738  1.324909 -0.916985
2  0.804329  0.000000  0.577020
3  0.747021  0.588705  0.831137

In [ ]:
pd.set_option("display.chop_threshold", 0.4)
df

          0         1         2
0  1.545720  0.000000  1.641164
1  1.575738  1.324909 -0.916985
2  0.804329  0.000000  0.577020
3  0.747021  0.588705  0.831137

### 展示格式化浮点数

In [ ]:
df = pd.DataFrame(np.random.randn(2, 3))
df

          0         1         2
0 -0.242514 -1.084448  0.580355
1  0.184091 -0.526300  1.209960

In [ ]:
pd.set_option("display.float_format", lambda x: f"${x: .2f}")
df

       0      1      2
0 $-0.24 $-1.08 $ 0.58
1 $ 0.18 $-0.53 $ 1.21

### 修改默认绘图引擎

In [ ]:
pd.set_option("plotting.backend", "plotly")

## 局部

### 隐藏索引 / 列

In [8]:
df = pd.DataFrame(np.random.randn(2, 3))
df

          0         1         2
0 -1.444268  0.045155 -1.751064
1 -0.283079  1.402281  0.066502

In [9]:
df.style.hide()

### 标记缺失值

In [12]:
df = pd.DataFrame(
    {"A": ["001", None, "003", None, "005"], "B": ["1", "2", "3", "4", "5"]}
)
df

      A  B
0   001  1
1  None  2
2   003  3
3  None  4
4   005  5

In [15]:
df.style.format(na_rep="nnnnnnnnn")

In [16]:
df.style.highlight_null()

### 修改字颜色

In [21]:
df = pd.DataFrame(np.random.randn(2, 3))
df

          0         1         2
0  1.877378 -0.472997  0.765056
1 -0.648854  0.335602  0.075095

In [23]:
df.style.set_properties(color="green")

### 修改字体背景颜色、对齐方式、字体大小

In [24]:
pro={
    "background-color":"yellow",
    "text-align":"center",
    "font-size":"15px"
}
df.style.set_properties(**pro)

# 还原所有设置

In [ ]:
# 输出想要还原的选项即可
pd.reset_option("display.max_colwidth")
# 该方法支持正则，下面表示将 display 开头的选项都还原成默认状态
pd.reset_option("^display")