# FAQ 问答

In [1]:
import numpy as np
import pandas as pd

## Dataframe 作为参数传递被修改是否影响原本的 Dataframe 吗?

会

In [4]:
df1 = pd.DataFrame(
    data=np.random.randint(60, 101, (3, 3)),
    columns=["语文", "数学", "英语"],
    index=np.random.randint(1, 101, size=3),
)
df1

    语文  数学  英语
10  86  94  84
44  91  96  68
53  60  68  89

In [6]:
def change_dataframe_data(dataframe: pd.DataFrame):
    dataframe.loc[(dataframe["语文"] > 60), "is_more_than_60"] = 1
    pass


change_dataframe_data(df1)
df1

    语文  数学  英语  is_more_than_90
10  86  94  84              1.0
44  91  96  68              1.0
53  60  68  89              NaN