# groupby()

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
        "a": ["a", "b", "a", "a", "b"],
        "b": [1, 2, 3, 2, 1],
        "c": [3, 1, 5, 1, 7],
        "d": ["我", "是", "一", "只", "cat"],
    }
)
df

   a  b  c    d
0  a  1  3    我
1  b  2  1    是
2  a  3  5    一
3  a  2  1    只
4  b  1  7  cat

## groupby simple

groupby 基础api

In [6]:
df.groupby(by=["a"])

In [14]:
df.groupby(by="a").sum()

   b  c     d
a
a  6  9   我一只
b  3  8  是cat

In [30]:
df.groupby(by="a",as_index=False).sum()

   a  b  c     d
0  a  6  9   我一只
1  b  3  8  是cat

In [8]:
df.groupby(by="a").count()

   b  c  d
a
a  3  3  3
b  2  2  2

In [19]:
df.groupby(by="a").agg(lambda x: len(x))

   b  c  d
a
a  3  3  3
b  2  2  2

## agg

In [24]:
# 仅仅对b 和 c进行处理
df.groupby(by="a")[["b", "c"]].agg(lambda x: len(x))

   b  c
a
a  3  3
b  2  2

In [26]:
df.groupby(by="a").agg({"b": len, "c": len})

   b  c
a
a  3  3
b  2  2

## multi agg

In [28]:
df.groupby(by="a").agg(
    {
        "b": ["sum", lambda x: str(sum(x)) + "~~~"],
        "c": "mean",
        "d": [" ".join, lambda x: [_ + "旺旺 " for _ in x]],
    }
)

    b               c      d
  sum <lambda_0> mean   join          <lambda_0>
a
a   6       6~~~  3.0  我 一 只  [我旺旺 , 一旺旺 , 只旺旺 ]
b   3       3~~~  4.0  是 cat      [是旺旺 , cat旺旺 ]

In [31]:
df.groupby(by="a", as_index=False).agg(
    {
        "b": ["sum", lambda x: str(sum(x)) + "yoyoyo~"],
        "c": "mean",
        "d": [" ".join, lambda x: [_ + "旺旺 " for _ in x]],
    }
)

   a   b               c      d
     sum <lambda_0> mean   join          <lambda_0>
0  a   6   6yoyoyo~  3.0  我 一 只  [我旺旺 , 一旺旺 , 只旺旺 ]
1  b   3   3yoyoyo~  4.0  是 cat      [是旺旺 , cat旺旺 ]

## transform

* transform与agg的区别:
* transform后的结果,行是不会减少的，原来是多少行结果还是多少行

In [39]:
df = pd.DataFrame(
    {
        "x": ["a", "b", "a"],
        "y": [1, 2, 3],
        "z": [3, 1, 5],
    }
)
df

   x  y  z
0  a  1  3
1  b  2  1
2  a  3  5

In [40]:
df.groupby(by=["x"], as_index=False).transform("sum")

   y  z
0  4  8
1  2  1
2  4  8

In [41]:
df.groupby(by=["x"], as_index=False)[["y"]].transform("sum")

   y
0  4
1  2
2  4

# pivot_table

* pivot_table和groupby相似
* index(相当于groupby中的参数by)
* values(要聚合的列)
* aggfunc(聚合函数)得到结果和groupby是一样

In [43]:
import pandas as pd

df = pd.DataFrame(
    {
        "x": ["a", "b", "a"],
        "y": [1, 2, 3],
        "z": [3, 1, 5],
    }
)
df

   x  y  z
0  a  1  3
1  b  2  1
2  a  3  5

In [44]:
pd.pivot_table(df, index=["x"], values=["y", "z"], aggfunc="sum")

   y  z
x
a  4  8
b  2  1

In [45]:
pd.pivot_table(df, index="x", values=["y"], aggfunc=["sum", "count"])

  sum count
    y     y
x
a   4     2
b   2     1

In [46]:
pd.pivot_table(df, index=["x"], aggfunc="sum")

   y  z
x
a  4  8
b  2  1

In [47]:
pd.pivot_table(df, index=["x"], aggfunc={"y": ["count", "sum"], "z": "sum"})

      y       z
  count sum sum
x
a     2   4   8
b     1   2   1