In [7]:
import numpy as np
import pandas as pd

# 导出

In [8]:
df = pd.DataFrame({"values": [5, 10, 15, 20, 25]})

In [9]:
df.to_csv("file_for_read/df.csv")  # 写入CSV文件

In [10]:
df.to_excel("file_for_read/df.xlsx")  # 写入Excel文件

In [11]:
# df.to_sql("df", connection_object) # 写入SQL表

In [12]:
df.to_json("file_for_read/df.json")  # 以JSON格式写入文件

# 导入

## csv

In [13]:
"""
read_csv函数的参数非常多,下面接受几个比较重要的参数:
    index_col:用作行索引（标签）的列
    sep / delimiter:分隔符,默认是,
    header:表头（列索引）的位置,默认值是infer,用第一行的内容作为表头（列索引）
    usecols:需要加载的列,可以使用序号或者列名
    true_values / false_values:哪些值被视为布尔值True / False
    skiprows:通过行号、索引或函数指定需要跳过的行
    skipfooter:要跳过的末尾行数
    nrows:需要读取的行数
    na_values:哪些值被视为空值
"""
dataframe_from_csv = pd.read_csv("file_for_read/df.csv")
dataframe_from_csv

   Unnamed: 0  values
0           0       5
1           1      10
2           2      15
3           3      20
4           4      25

## excel

In [14]:
"""
read_excel与上面的read_csv非常相近,多了一个sheet_name参数来指定数据表的名称,
不同于 CSV 文件,没有sep或delimiter这样的参数。
下面的代码中,read_excel函数的skiprows参数是一个 Lambda 函数,通过该 Lambda 函数指定只读取 Excel 文件的表头和其中10%的数据,跳过其他的数据。
"""
dataframe_from_excel = pd.read_excel(
    io="file_for_read/df.xlsx"
)
dataframe_from_excel

   Unnamed: 0  values
0           0       5
1           1      10
2           2      15
3           3      20
4           4      25

## sql

In [15]:
# pd.read_sql(query, connection_object)  # 从SQL表/数据库中读取

## json

In [16]:
pd.read_json("file_for_read/df.json") # 从JSON格式的字符串，URL或文件中读取。

   values
0       5
1      10
2      15
3      20
4      25

## html

In [17]:
# pd.read_html(url) # 解析html URL，字符串或文件，并将表提取到数据帧列表

## clipboard

In [18]:
pd.read_clipboard()  # 获取剪贴板的内容并将其传递给 read_table()

Empty DataFrame
Columns: ["file_for_read/df.xlsx"]
Index: []