In [1]:
import polars as pl
pl.__version__

'1.17.1'

# 导出

In [2]:
df = pl.DataFrame([[0, 2], [3, 7]], schema={"col1": pl.Float32, "col2": pl.Int64})

In [3]:
df

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

In [4]:
df.write_csv("file_for_read/test.csv")  # 写入CSV文件

In [5]:
df.write_excel("file_for_read/test.xlsx")  # 写入Excel文件

In [6]:
# df.write_sql("df", connection_object) # 写入SQL表

In [7]:
df.write_json("file_for_read/test.json")  # 以JSON格式写入文件

In [8]:
df.write_parquet("file_for_read/test.parquet")
df

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

In [9]:
df.write_ipc("file_for_read/test.arrow")

In [10]:
df.write_avro("file_for_read/test.avro")

# 导入

## csv

In [11]:
dataframe_from_csv = pl.read_csv("file_for_read/test.csv")
dataframe_from_csv

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f64  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

## excel

In [ ]:
dataframe_from_excel = pl.read_excel("file_for_read/test.xlsx")
dataframe_from_excel

## sql

In [13]:
# pl.read_sql(query, connection_object)  # 从SQL表/数据库中读取

## json

In [14]:
pl.read_json("file_for_read/test.json")  # 从JSON格式的字符串，URL或文件中读取。

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f64  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

## parquet

列式存储格式,
允许快速读取、处理和聚合特定的列数据，而不需要加载整个数据集

In [15]:
pl.read_parquet("file_for_read/test.parquet")

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

## ipc

In [16]:
pl.read_ipc("file_for_read/test.arrow")

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

# Big Date Test

In [17]:
import datetime
import numpy as np
import polars as pl
def generate_large_dataset(num_rows: int):
    data = {
        "id": np.arange(num_rows),
        "value": np.random.rand(num_rows),
        "date": [
            datetime.date.today() - datetime.timedelta(days=i) for i in range(num_rows)
        ],
    }
    df = pl.DataFrame(data)
    return df

In [ ]:
# 生成数据
data = generate_large_dataset(500000)  # 生成 100 万行的数据


# data.write_parquet("./data.parquet")
# data.write_ipc("./data.arrow")
# data.write_avro("./data.avro")