# rolling 函数

In [1]:
import numpy as np
import pandas as pd

In [2]:
amount = pd.Series([100, 90, 110, 150, 110, 130, 80])
amount

0    100
1     90
2    110
3    150
4    110
5    130
6     80
dtype: int64

## type of rolling

In [3]:
type(amount.rolling(3))

pandas.core.window.rolling.Rolling

## rolling 参数/滚动计算 sum/agg/mean

In [4]:
amount.rolling(3).sum()

0      NaN
1      NaN
2    300.0
3    350.0
4    370.0
5    390.0
6    320.0
dtype: float64

### min_periods 参数

In [5]:
# min_periods,就是窗口最小间隔
amount.rolling(3, min_periods=2).sum()

0      NaN
1    190.0
2    300.0
3    350.0
4    370.0
5    390.0
6    320.0
dtype: float64

### center 参数

In [6]:
# center的（奇数）表现： 长度为3，除去本身之外，再往上选1个、往下选1个,一共3个
# center的（偶数）表现： 长度为8，这个时候会往上选4个、往下选3个，一共8个
# 会使得开头出现一个NaN，结尾出现一个NaN (因为开头和结尾的元素，加起来不够3个，所以是NaN)
amount.rolling(3, center=True).sum()

0      NaN
1    300.0
2    350.0
3    370.0
4    390.0
5    320.0
6      NaN
dtype: float64

### agg

In [7]:
amount.rolling(3).agg(
    # x 是每个窗口的Series
    lambda x: sum(x)
)

0      NaN
1      NaN
2    300.0
3    350.0
4    370.0
5    390.0
6    320.0
dtype: float64

### 计算日期

In [8]:
date_ser = pd.Series(
    np.ones(10),
    index=pd.DatetimeIndex(
        [
            "2020-1-1",
            "2020-1-3",
            "2020-1-4",
            "2020-1-6",
            "2020-1-7",
            "2020-1-9",
            "2020-1-12",
            "2020-1-13",
            "2020-1-14",
            "2020-1-15",
        ]
    ),
)
date_ser

2020-01-01    1.0
2020-01-03    1.0
2020-01-04    1.0
2020-01-06    1.0
2020-01-07    1.0
2020-01-09    1.0
2020-01-12    1.0
2020-01-13    1.0
2020-01-14    1.0
2020-01-15    1.0
dtype: float64

In [9]:
# 3天之内的总和
date_ser.rolling("3D").sum()

2020-01-01    1.0
2020-01-03    2.0
2020-01-04    2.0
2020-01-06    2.0
2020-01-07    2.0
2020-01-09    2.0
2020-01-12    1.0
2020-01-13    2.0
2020-01-14    3.0
2020-01-15    3.0
dtype: float64