# feather

- 读写速度远胜 csv
- 同等数据下，体量更小
  1.  4GB 的 csv 文件，可能只占用 700M 的 feather 文件空间
- feather 也支持从源文件中仅读取所需要的列，可以减少内存的使用

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    "name": ["satori", "koishi", "marisa", "cirno"],
    "age": [17, 16, 18, 40]
})

In [8]:
df.to_feather("./f.feather")

In [10]:
pd.read_feather("./f.feather")

     name  age
0  satori   17
1  koishi   16
2  marisa   18
3   cirno   40