In [1]:
import polars as pl

# 导出

In [2]:
df = pl.DataFrame([[0, 2], [3, 7]], schema={"col1": pl.Float32, "col2": pl.Int64})

In [3]:
df.write_csv("file_for_read/test.csv")  # 写入CSV文件

In [4]:
df.write_excel("file_for_read/test.xlsx")  # 写入Excel文件

In [5]:
# df.write_sql("df", connection_object) # 写入SQL表

In [6]:
df.write_json("file_for_read/test.json")  # 以JSON格式写入文件

In [7]:
df.write_parquet("file_for_read/test.parquet")

# 导入

## csv

In [8]:
dataframe_from_csv = pl.read_csv("file_for_read/test.csv")
dataframe_from_csv

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f64  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

## excel

In [9]:
dataframe_from_excel = pl.read_excel("file_for_read/test.xlsx")
dataframe_from_excel

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 0    ┆ 3    │
│ 2    ┆ 7    │
└──────┴──────┘

## sql

In [10]:
# pl.read_sql(query, connection_object)  # 从SQL表/数据库中读取

## json

In [11]:
pl.read_json("file_for_read/test.json")  # 从JSON格式的字符串，URL或文件中读取。

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘

## parquet

列式存储格式,
允许快速读取、处理和聚合特定的列数据，而不需要加载整个数据集

In [13]:
pl.read_parquet("file_for_read/test.parquet")

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ f32  ┆ i64  │
╞══════╪══════╡
│ 0.0  ┆ 3    │
│ 2.0  ┆ 7    │
└──────┴──────┘