# 连接MongoDB
连接的方式自选

In [126]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017)
client = pymongo.MongoClient('mongodb://localhost:27017/')

## 指定数据库(database)

调用client的test属性即可返回test数据库

In [127]:
db = client.test
db = client['test']

## 指定表(collection)

In [128]:
collection = db.students

# 插入数据

In [129]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}
result = collection.insert_one(student)
print(result)
# 可以调用inserted_id获取_id
print(result.inserted_id)

InsertOneResult(ObjectId('6562d8341a1683fdff4ef5c4'), acknowledged=True)
6562d8341a1683fdff4ef5c4

In [130]:
# 批量插入
student1 = {
    'id': '20170102',
    'name': 'zzqqqz',
    'age': 21,
    'gender': 'male'
}

student2 = {
    'id': '20170203',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}

result = collection.insert_many([student1, student2])
print(result)

InsertManyResult([ObjectId('6562d8341a1683fdff4ef5c5'), ObjectId('6562d8341a1683fdff4ef5c6')], acknowledged=True)

# 更新

In [131]:
result = collection.update_one({'name': 'zzqqqz'},{'$set': {'age': 3}})
print(collection.find_one({'name': 'zzqqqz'}))

{'_id': ObjectId('6562d8341a1683fdff4ef5c5'), 'id': '20170102', 'name': 'zzqqqz', 'age': 3, 'gender': 'male'}

# 查询

## 根据字段查询-单条

In [132]:
result = collection.find_one({'name': 'Mike'})
print(type(result))
print(result)

<class 'dict'>
{'_id': ObjectId('6562d8341a1683fdff4ef5c6'), 'id': '20170203', 'name': 'Mike', 'age': 21, 'gender': 'male'}

## 根据id查询-单条

In [133]:
from bson.objectid import ObjectId

result = collection.find_one({'_id': ObjectId('6562183fa2fe4fdc4d9b202f')})
print(result)

None

## 查询多条

In [134]:
results = collection.find({'age': 20})
print(results)
for result in results:
    print(result)

<pymongo.cursor.Cursor object at 0x1079e7850>
{'_id': ObjectId('6562d8341a1683fdff4ef5c4'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

## 范围查询

* $lt	小于
* $gt	大于
* $lte	小于等于
* $gte	大于等于
* $ne	不等于
* $in	在范围内
* $nin	不在范围内

In [135]:
for result in collection.find({'age': {'$gt': 20}}):
    print(result)

{'_id': ObjectId('6562d8341a1683fdff4ef5c6'), 'id': '20170203', 'name': 'Mike', 'age': 21, 'gender': 'male'}

## 计数

In [136]:
count=collection.count_documents({})
print(count)

3

## sort

In [137]:
for post in  collection.find({}).sort("age"):
    print(post)

{'_id': ObjectId('6562d8341a1683fdff4ef5c5'), 'id': '20170102', 'name': 'zzqqqz', 'age': 3, 'gender': 'male'}
{'_id': ObjectId('6562d8341a1683fdff4ef5c4'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('6562d8341a1683fdff4ef5c6'), 'id': '20170203', 'name': 'Mike', 'age': 21, 'gender': 'male'}

## 限制查询结果数量

In [138]:
for post in collection.find({}).limit(2):
    print(post)

{'_id': ObjectId('6562d8341a1683fdff4ef5c4'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('6562d8341a1683fdff4ef5c5'), 'id': '20170102', 'name': 'zzqqqz', 'age': 3, 'gender': 'male'}

# 聚合

*  $sum	计算总和
*  $avg	计算平均值
*  $min	计算最小值
*  $max	计算最大值

In [139]:

pipeline = [
    {"$group": {"_id": "$age", "count": {"$sum": 1}}},
]
for post in collection.aggregate(pipeline):
    print(post)

{'_id': 20, 'count': 1}
{'_id': 3, 'count': 1}
{'_id': 21, 'count': 1}

# 删除

In [140]:
result = collection.delete_one({'name': 'zzqqqz'})
print(result)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)