# 连接MongoDB
连接的方式自选

In [ ]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017)
client = pymongo.MongoClient('mongodb://localhost:27017/')

# 指定数据库(database)

调用client的test属性即可返回test数据库

In [ ]:
db = client.test
db = client['test']

# 指定表(collection)

In [ ]:
collection = db.students

# 插入数据

In [10]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}
result = collection.insert_one(student)
print(result)
print(result.inserted_id)

InsertOneResult(ObjectId('65621802a2fe4fdc4d9b202b'), acknowledged=True)
65621802a2fe4fdc4d9b202b

In [13]:
student1 = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}

student2 = {
    'id': '20170202',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}

result = collection.insert_many([student1, student2])
print(result)

InsertManyResult([ObjectId('6562184aa2fe4fdc4d9b2030'), ObjectId('6562184aa2fe4fdc4d9b2031')], acknowledged=True)